<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<title>LexBurner 带灵堂</title>
<link rel="stylesheet" href="assets/css/main.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css" integrity="sha256-uqQQGnDcmRKvhKwc5Vm4XT1GQ2oV6t1U0NR2N9tV+BQ=" crossorigin="anonymous">
</head>
<body>
<div id="main" style="text-align:center;">
<img src="assets/img/yz.png">
</br>
<p style="font-size:30px; color:#FFFF;"><a href ="1/index.htm">LexBurner<a/></p>
<p style="font-size:16px; color:#FFFF;">——看无职转生的人都是社会底层，像你们这种人只能在下水道里度过一个相对比较失败的人生</p>

<center>
<div id="aplayer" style="width:300px; margin-bottom:10px;"></div>
</center>
<br />
<br />
<img style="margin-bottom:10px;" src="assets/img/q8UohLwXuAj5JbZ.png">
<br />
<br />
<img margin-bottom=10px width=600 height=600 src="assets/img/12434.JPG">
<br />
<br />
<img margin-bottom=10px width=400 height=600 src="assets/img/4.jpg">
<br />
<br />
<img width=400 height=600 src="assets/img/3.jpg">
<br />
<br />
<img margin-bottom=10px width=600 height=750 src="assets/img/10.jpg">
 <br />
 <br />
 <img margin-bottom=10px;" width=600 height=750 src ="assets/img/nq.jpg">
 <br />
 <br />
<img  margin-bottom=10px;" src="assets/img/ByUbCXoOuLlAtis.jpg">
<br />
<br />
<p style="font-size:12px; color:#FFFF;">Proudly Provided By <a href="https://t.me/s/ohcnzz" target="_blank">Oh CN ZZ</a></p>
<p style="font-size:12px; color:#FFFF;">Hosted By <a href="https://pages.github.com" target="_blank">Github Pages</a></p>
<p style="font-size:12px; color:#FFFF;">You Can View Or Fork in <a href="https://github.com/Xiaozhan-sb/lexburner.rip" target="_blank">Xiaozhan-sb/lexburner.rip</a></p>
 

</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous" type="2d1f5e1b40579b0754286f4e-text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js" integrity="sha256-6Y7CJDaltoeNgk+ZftgCD9jLgmGv4xKUo8nQ0HgAwVo=" crossorigin="anonymous" type="2d1f5e1b40579b0754286f4e-text/javascript"></script>
<script type="2d1f5e1b40579b0754286f4e-text/javascript">
        const ap = new APlayer({
            container: document.getElementById('aplayer'),
            listFolded: false,
            listMaxHeight: 90,
            autoplay: true,
            order: 'random',
            loop: 'all',
            theme: '#a13300',
            audio: [{
                    name: '灵堂金曲',
                    artist: 'Unknown',
                    cover: './assets/img/cover.png',
                    url: 'https://lexburnerrip.littleneko.cf/assets/bgm/test.mp3'
                },
                {
                    name: '灵堂金曲',
                    artist: 'Unknown',
                    cover: './assets/img/cover.png',
                    url: 'https://lexburnerrip.littleneko.cf/assets/bgm/火葬场之歌.ogg'
                },
            ]
        });
    </script>
<script src="https://cdn.jsdelivr.net/gh/fz6m/china-lantern@1.6/dist/china-lantern.min.js" type="2d1f5e1b40579b0754286f4e-text/javascript"></script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="2d1f5e1b40579b0754286f4e-|49" defer=""></script></body>
